{% load thumbnail %}
{% load staticfiles %}
{% load get_item %}

<style media="screen">
  @-moz-document url-prefix() {
fieldset { display: table-cell; }
}
</style>
{% if products %}
<div class="table-responsive cart_info">
    <table class="table">
        <thead>
            <tr class="cart_menu">
                <td class="image">Item</td>
                <td class="description"></td>
                <td class="price">Price</td>
                <td class="quantity">Quantity</td>
                <td class="total">Total</td>
                <td class="cart_delete pull-right"></td>
            </tr>
        </thead>
        <tbody>
            {% for item in products %}
            <tr>
                <td class="image">
                    <a href="{% url 'store:products' item.product.pk %}"><img src="{% thumbnail item.product.mainimage 200x200 %}" alt=""></a>
                </td>
                <td class="description">
                    <h4><a href="{% url 'store:products' item.product.pk %}">{{ item.product.title }}</a></h4>
                    <p>Product ID: {{ item.product.pk }}</p>
                    {% if item.accessories %}
                        <ul class ="list-unstyled">
                        <strong>Accessories: </strong>
                            {% for accessory in item.accessories %}
                            <li>{{ accessory.title }}: ${{ accessory.price}}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                    {% if item.options %}
                    <ul class ="list-unstyled">
                    <strong>Options: </strong>
                        {% for option in item.options %}
                            <li>{{ option.title }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                    {% if item.product.status = "preorder" %}
                    <span style="color:red">This item is currently out of stock, preorders can take a while to process</span>
                    {% endif %}
                </td>
                <td class="price">
                    <p>${{ item.price }}</p>
                </td>
                <td class="quantity cart_quantity">
                    <div class="cart_quantity_button">
                        <form action="{% url 'store:cartchange' %}" method="POST">
                            {% csrf_token %}
                            <input type="hidden" value="{{ forloop.counter0 }}" name="item_id" />
                            <input class="cart_quantity_input" type="text" name="quantity" value="{{ item.session.quantity }}" autocomplete="off" size="2">
                        </form>
                    </div>
                </td>
                <td class="total cart_total">
                    <p class="cart_total_price">${% widthratio item.price 1 item.session.quantity %}</p>
                </td>
                <td class="cart_delete">
                    <a class="cart_quantity_delete" href="{% url 'store:cartdelete' forloop.counter0 %}"><i class="fa fa-times"></i></a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>


<div class="table-responsive pull-right">
  <table>
    <tr>
        <td colspan="4">&nbsp;</td>
        <td colspan="2">
            <table class="table table-condensed total-result">
                <tr>
                    <form action="" method="POST">
                        {% csrf_token %}
                        {% if coupon_result != None %}
                        RESULT: {% if coupon_result %} Valid Coupon {% else %} Invalid Coupon {% endif %}
                        {% endif %}
                        <td><label for="coupon_code">Coupon Code</label></td>
                        <td><input id="coupon_code" type="text" name="coupon_code" value="" autocomplete="off"></td>
                    </form>
                </tr>
                <tr>
                    <td>Cart Sub Total</td>
                    <td>${{ request.session.subtotal }}</td>
                </tr>
                <tr class="shipping-cost">
                    <td>Shipping Cost</td>
                    <td>Free</td>
                </tr>
                {% if request.session.coupon|get_item:'amount' != None %}
                <tr class="discount">
                    <td>Discount</td>
                    <td>-${{ request.session.coupon|get_item:'amount' }}</td>
                </tr>
                {% endif %}
                <tr>
                    <td>Total</td>
                    <td><span>${{ request.session.total }}</span></td>
                </tr>
            </table>
        </td>
    </tr>
  </table>
</div>
{% else %}
<div class="container">
    <h2> There are no items currently in the cart.</h2>
</div>
{% endif %}
