<div class="container">
  <h1>Thank you for your order!</h1>
  <p>Order number is: 9999222338</p>
  <button class="btn btn-main" type="button" name="button">Print Receipt</button>
  <hr>
  <h2>Save your information for next time</h2>
  <form>
    <div class="form-group">
      <label for="username">Username</label>
      <input type="email" class="form-control" id="username" placeholder="Email">
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" class="form-control" id="password" placeholder="Password">
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
  </form>
</div>
